{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %}{{object}}: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container detail_page">

  <!--Page header-->
  <div class="page-header d-flex">
    <div class="page-leftheader">
      <div class="page-title">{{object}} Enquiry</div>
    </div>

    <div class="page-rightheader ms-md-auto">
      <div class="btn-list">

        <a href="javascript:void(0);" onclick="window.print();" class="btn btn-sm btn-white" title="Print"> <i
            class="feather feather-printer"></i> </a>

        <a href="{{object.get_update_url}}" class="btn btn-sm btn-white" data-bs-placement="top"
          data-bs-toggle="tooltip" title="Edit"> <i class="text-primary feather feather-edit-3"></i> </a>

        <a href="{{object.get_delete_url}}" class="btn btn-sm btn-white" data-bs-placement="top"
          data-bs-toggle="tooltip" title="Delete"> <i class="text-danger feather feather-trash-2"></i> </a>

      </div>
    </div>
  </div>
  <!--End Page header-->

  <!-- Row-->
  <div class="row">

    <div class="col-md-12">
      <div class="card content_card">
        <div class="card-header">
          <div class="card-title d-flex align-items-center w-100">
            <h5 class="mb-0">{{object}}</h5>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover info_table mb-0" style="width:100%;">
              <tbody>
                {% for name, value in object.get_fields|slice:"5:" %}
                {% if value %}
                <tr>
                  <td> {{name}} </td>
                  <td> {{ value }} </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- Followups -->
    <div class="col-md-12">
      <div class="card content_card">
        <div class="card-header">
          <div class="card-title d-flex align-items-center w-100">
            <div class="d-flex justify-content-between align-items-center w-100">
              <h5 class="mb-0">Related Followups</h5>
              <a class="btn btn-sm btn-white" data-bs-toggle="offcanvas" href="#offcanvasFilter" 
                data-bs-target="#newModal" title="Filter Data"> Add New </a>
            </div>
          </div>
        </div>

        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover info_table mb-0" style="width:100%;">
              <thead>
                <tr>
                  <th>Details</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for object in followups %}
                <tr>
                  <td><a href="{{object.get_absolute_url}}">{{object.details}}</a> </td>
                  <td> {{object.created}} </td>
                  <td> <span class="badge {{object.get_badge}}">{{object.get_status_display}}</span> </td>
                  <td><a href="{{object.get_absolute_url}}" class="btn btn-sm btn-light btn-outline-info">OPEN</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Row-->

</div>


<!-- New Modal -->
<div class="modal fade" id="newModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Followup</h5> <button class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <form action="{% url 'marketing:enquiryfollowup_create' %}" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="enquiry" value="{{object.id}}">
          {{form|crispy}}
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-white me-auto border">{% translate "Reset" %}</button>
          <a href="javascript:void(0);" class="btn btn-outline-white border" data-bs-dismiss="modal">
            {% translate "Cancel" %}</a>
          <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
